@font-face {
    font-family: 'Precious';
    src: url('/fonts/Precious.ttf') format('truetype'); /* Update the path and file format as needed */
    /* You can include additional sources for different formats if needed */
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    color: teal;
    font-family: 'Precious', cursive;
    font-size: 50px;
}

h2 {
    padding: 1%;
}

p{
    text-align: justify;
    font-size: 20px;
}



img {
    display: block;
    margin: 0 auto;
}